<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
    <title>Who Is This</title>
  </head>
  <body>
    <h2>Who Is This</h2>
    <!-- Upload  -->
    <form id="file-upload-form" class="uploader" action="/who-is-this">
      <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

      <label for="file-upload" id="file-drag">
        <div id="image-wrapper">
          <img id="file-image" src="#" alt="Preview" class="hidden" />
        </div>
        <div id="start">
          <i class="fa fa-download" aria-hidden="true"></i>
          <div>Select a file or drag here</div>
          <div id="notimage" class="hidden">Please select an image</div>
          <span id="file-upload-btn" class="btn btn-primary"
            >Select a file</span
          >
        </div>
        <div id="response" class="hidden">
          <div id="messages"></div>
          <progress class="progress" id="file-progress" value="0">
            <span>0</span>%
          </progress>
        </div>
      </label>
    </form>
  </body>
</html>
